BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
USE PRIMARY NET "CLK_TREE[0]" ;
USE PRIMARY NET "CLK_TREE[5]" ;
USE SECONDARY NET "CLK_TREE[14]" ;
FREQUENCY NET "M_CLK" 38.000000 MHz ;
FREQUENCY NET "CLK_TREE[5]" 0.400000 MHz ;
FREQUENCY NET "CLK_TREE[14]" 0.001000 MHz ;
FREQUENCY NET "DD0/I2CC0/READY_I2CM" 0.011111 MHz ;
FREQUENCY NET "DD0/I2CC0/I2CM0/LOAD_ADDR" 0.010000 MHz ;
FREQUENCY NET "DD0/I2CC0/I2CM0/LOAD_DATA[1]" 0.011111 MHz ;
FREQUENCY NET "BTN0/IN_DEBOUNCE" 0.001000 MHz ;
FREQUENCY NET "BTN1/IN_DEBOUNCE" 0.001000 MHz ;
INPUT_SETUP PORT "LEFT_IN" 500000.000000 ns CLKNET "CLK_TREE[14]" ;
INPUT_SETUP PORT "RIGHT_IN" 500000.000000 ns CLKNET "CLK_TREE[14]" ;
CLOCK_TO_OUT PORT "DISP_I2C_SCL" 2500.000000 ns CLKNET "CLK_TREE[5]" ;
CLOCK_TO_OUT PORT "DISP_I2C_SDA" 2500.000000 ns CLKNET "CLK_TREE[5]" ;
#CLOCK_TO_OUT PORT "DISP_I2C_SDA" 2500.000000 ns CLKNET "DD0/I2CC0/I2CM0/BIT_PULSE" ;
SYSCONFIG CONFIGURATION=CFG MCCLK_FREQ=38 ;
BLOCK JTAGPATHS ;
IOBUF PORT "RESET" PULLMODE=UP IO_TYPE=LVCMOS25 ;
#LOCATE COMP "DAC_SCKI" SITE "86" ;
#LOCATE COMP "DAC_RST_N" SITE "94" ;
#IOBUF PORT "DAC_SCKI" PULLMODE=NONE IO_TYPE=LVCMOS25 DRIVE=4 ;
LOCATE COMP "RESET" SITE "95" ;
FREQUENCY NET "CLK_TREE[0]" 19.000000 MHz ;
USE PRIMARY NET "DD0/CTR_MCLK" ;
LOCATE COMP "DISP_I2C_SCL" SITE "78" ;
LOCATE COMP "DISP_I2C_SDA" SITE "82" ;
IOBUF PORT "DISP_I2C_SCL" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "DISP_I2C_SDA" PULLMODE=UP IO_TYPE=LVCMOS25 ;
INPUT_SETUP PORT "DATA" 29.000000 ns HOLD 39.000000 ns CLKPORT "BCLK" ;
INPUT_SETUP PORT "DATA_IN" 29.000000 ns HOLD 39.000000 ns CLKPORT "BCLK_IN" ;
FREQUENCY NET "WCLK_OUT_c_6" 0.048000 MHz ;
FREQUENCY NET "BCLK_IN_c" 6.144000 MHz ;
FREQUENCY NET "WCLK_IN_c" 0.048000 MHz ;
FREQUENCY NET "I2SM/BCLK_SR" 6.144000 MHz ;
FREQUENCY NET "I2SS/BCLK_SR_L" 6.144000 MHz ;
FREQUENCY NET "I2SS/BCLK_SR_R" 6.144000 MHz ;
FREQUENCY NET "I2SM/WCLK_EDGE" 6.144000 MHz ;
FREQUENCY NET "I2SS/WCLK_EDGE" 6.144000 MHz ;
LOCATE COMP "ADC_FMT0" SITE "57" ;
LOCATE COMP "ADC_FMT1" SITE "56" ;
LOCATE COMP "ADC_FS0" SITE "54" ;
LOCATE COMP "ADC_LRCK" SITE "83" ;
LOCATE COMP "ADC_DATA" SITE "85" ;
LOCATE COMP "DAC_SCK" SITE "92" ;
LOCATE COMP "ADC_SCK" SITE "84" ;
LOCATE COMP "DAC_BCK" SITE "94" ;
LOCATE COMP "DAC_LRCK" SITE "91" ;
LOCATE COMP "DAC_DATA" SITE "93" ;
LOCATE COMP "DAC_I2C_SCL" SITE "77" ;
LOCATE COMP "DAC_I2C_SDA" SITE "81" ;
LOCATE COMP "DAC_RST_N" SITE "60" ;
LOCATE COMP "ADC_RST_N" SITE "58" ;
LOCATE COMP "ADC_SM" SITE "59" ;
LOCATE COMP "ADC_FS1" SITE "55" ;
LOCATE COMP "ADC_FS2" SITE "52" ;
LOCATE COMP "ADC_HPFD_P" SITE "50" ;
LOCATE COMP "BTN_LEFT_IN" SITE "74" ;
LOCATE COMP "BTN_RIGHT_IN" SITE "76" ;
IOBUF PORT "BTN_LEFT_IN" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "BTN_RIGHT_IN" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_DATA" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_BCK" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_FMT0" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_FMT1" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_FS0" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_FS1" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_FS2" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_HPFD_P" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_LRCK" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_RST_N" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_SCK" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "ADC_SM" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "DAC_BCK" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "DAC_DATA" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "DAC_I2C_SCL" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "DAC_I2C_SDA" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "DAC_LRCK" PULLMODE=NONE IO_TYPE=LVCMOS25 DRIVE=8 ;
IOBUF PORT "DAC_RST_N" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "DAC_SCK" PULLMODE=NONE IO_TYPE=LVCMOS25 DRIVE=8 ;
LOCATE COMP "ADC_BCK" SITE "86" ;
